HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# 스프링 부트 빌드 아티팩트
target/

# Gradle 디렉토리 및 파일
.gradle/
gradle-wrapper.jar
gradle-wrapper.properties
gradlew
gradlew.bat

# IDE 설정 파일 (예: IntelliJ IDEA, Eclipse)
.idea/
.settings/
.idea_modules/

# 실행 중에 생성되는 파일
*.log

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

application.properties